aiohttp==3.9.3
base58==2.1.1
cryptography==44.0.3
protobuf>=4.21,<5.0.0
python-dotenv==1.1.0
python-telegram-bot[webhooks]==22.0
qrcode==8.2
requests==2.32.3
solana==0.36.6
solders==0.26.0
google-cloud-secret-manager==2.18.1
google-auth==2.25.2
pymongo[srv,tls]==4.6.3
